.contact-section{
    position: relative;
    width: 100%;
    border: 1px solid black;
    background: #ddd;
}
.contact-box{
    background: #fff;
    border: 1px solid blue;
    position: relative;
    margin: 3rem;
    min-height: 17rem;
}

.contact-heading{
    margin-bottom: 2rem;
}
.contact-heading span{
    font-size: 2rem;
    font-size: 3rem;
    font-weight: 500;
    background: linear-gradient(blue 10%, green)  0 0 no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contact-details div{
    margin: 0.5rem 0;
}