.image-section{
    position: relative;
    margin-top: 50px;
    width: 100%;
    max-height: 400px;
    border: 1px solid black;
}
.image-container img{
    width: 100%;
    max-height: 400px;
}

.changing-image{
    position: relative;
    top:0;
    left:0;
    z-index: 2;
    animation: gradual-show 15s forwards ease-in infinite;
}
.fixed-image{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
@keyframes gradual-show{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}


@media screen and (max-width: 51rem){
    .image-section{
        position: relative;
        margin-top: 3rem;
        width: 100%;
        max-height: 17rem;
        border: 1px solid black;
    }
    .image-container img{
        width: 100%;
        max-height: 17rem;
    }
}

