.story-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    border: 1px solid black;
    background: #8888ff;

}


.text-section{
    display: inline-block;
    width: 60%;
    text-align: center;
    margin: auto;
    min-height: 35rem;
}
.story-image-container{
    display: inline-block;
    max-width: 40%;
    margin-right: 0.1rem;
}
.my-pic{
    height: 36rem;
}

.text-section-title{
    display: block;
    text-align: center;
    padding: 3rem 2rem 2rem 2rem;
    font-size: 2rem;

}
.story-content{
    padding: 1rem;
}