.story-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    border: 1px solid black;
    background: #8888ff;

}


.text-section{
    display: inline-block;
    width: 60%;
    text-align: center;
    margin: auto;
    min-height: 35rem;
}
.story-image-container{
    display: inline-block;
    max-width: 40%;
    margin-right: 0.1rem;
}
.my-pic{
    max-height: 36rem;
}

.text-section-title{
    display: block;
    text-align: center;
    padding: 3rem 2rem 2rem 2rem;
    font-size: 2rem;

}
.story-content{
    padding: 1rem;
    color: rgb(230, 230, 255);
    word-wrap: break-word;
}

.about-myself{
    position: relative;
}

.space{
    display: inline-block;
    width: 1rem;
    visibility: hidden;
}
.about-myself span{
    border-radius: 10px;
    display: inline-block;
    border: 1px solid purple;
    background: linear-gradient(to right, rgb(130, 0, 130), rgb(71, 0, 71));
    font-size: 3rem;
    color: white;
    width: 3rem;
    text-align: center;
    animation: moveNRotate 2s linear forwards;
    animation-iteration-count: infinite; 
}

@keyframes moveNRotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(20deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
@media screen and (max-width: 51rem){
    .story-section{
        flex-direction: column;
        margin: 0;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        
    }
    .story-image-container{
        display: block;
        max-width: 90%;
        margin-top: 0.5rem;
    }
}
