.testimonials-section{
    position: relative;
    width: 100%;
    min-height: 33rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background: #ddd;
}
.testimony-content-box{
    position: relative;
    padding: 2rem;
    border: 1px solid blue;
    margin: 3rem;
    width: 100%;
    background: #FFF;
    overflow: hidden;
}
.testimonials-heading{
    margin-bottom:1rem;
}
.testimonials-heading span{
    font-size: 3rem;
    font-weight: 500;
    background: linear-gradient(blue, green)  0 0 no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.testimonials{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    

}
.testimony{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5%;
}

@keyframes move-left{
    0%{
        left: 0;
    }
    80%{
        left: 0;
    }
    100%{
        left: -100%;
    }
}

.testimony-writer-image{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.testimony-content{
    color: black;
    width: 100%;
    height: 12rem;
    margin-top: 1rem;

}
.testimony-author-info{
    width: 100%;
    height: 3rem;
    color: blueviolet;
}