.work-section{
    position: relative;
    width: 100%;
    border: 1px solid black;
    background: #ddd;
}

.projects-box{
    border: 1px solid blue;
    position: relative;
    margin: 3rem;
    background: #fff;
}
.projects-heading{
    font-size: 2rem;
}
.projects{
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    
}
.project {
    width: 25rem;
    height: 12rem;
    margin: 0.5rem 1rem;
}
.project-image{
    width: 20rem;
    transition: width 1s, max-height 1s;
    max-height: 11rem;
    cursor: pointer;
}
.project-image:hover{
    width: 25rem;
    max-height: 13rem;

}
