.work-section{
    position: relative;
    width: 100%;
    border: 1px solid black;
    background: #ddd;
}

.projects-box{
    border: 1px solid blue;
    position: relative;
    margin: 3rem;
    background: #fff;
    min-height: 25rem;
}
.projects-heading{
    margin-top:1rem;
}
.projects-heading span{
    font-size: 3rem;
    font-weight: 500;
    background: linear-gradient(blue, green)  0 0 no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.projects{
    display: flex;
    margin: 3rem 2rem 2rem 2rem;
    justify-content: center;
    align-items: center;
    
}
.project {
    width: 25rem;
    height: 12rem;
    margin: 0.5rem 1rem;
}
.project-image{
    width: 20rem;
    transition: width 1s, max-height 1s;
    max-height: 11rem;
    cursor: pointer;
}
.project-image:hover{
    width: 25rem;
    max-height: 13rem;

}

@media screen and (max-width: 51rem){
    .projects{
        flex-direction: column;
        margin: 3rem 2rem 2rem 2rem;
        justify-content: space-around;
        align-items: center;
        
    }
    .projects span{
        display: block;
    }
    .project {
        width: 90%;
        margin: 1rem;
    }
}
